body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #2e2e2e;
  }
  
  header {
    background-color: #7c62d2;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  .p{
    color: #000;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav a {
    color: #fff;
    display: block;
    padding: 1rem;
    text-decoration: none;
  }
  
  main {
    margin: 2rem;
    background-color: #ffffff;
    padding: 2rem;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #2d2d2d;
  }
  
  form label,
  form input,
  form textarea {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
  }
  
  form input[type="text"],
  form input[type="email"],
  form textarea {
    background-color: #707070;
    color: #fff;
    padding: 0.5rem;
    border: 1px;
    border-color: #2d2d2d;
   
    
  }
  form input[type="submit"] {
    background-color: #ffffff;
    /* border: none; */
    color: #111;
    padding: 1rem;
}
  nav a {
    color: #f1f1f1;
    display: block;
    padding: 1rem;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #444;
  }
  section img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: 250px;
    width: 200px;
  }
  img {
    object-fit: fill;
  }
  .amanpic {
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border: 20px;
    border-color: #000;
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  footer a {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    color: #eeeeee;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #000;
  }
 .contact{

  margin-right: 70%;
 }
  
  
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  

  .fa-instagram {
    background: #ca5c9a;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-github {
    background: #1d1d1e;
    color: white;
  }
  
  .project-section {
    background-color: #4d4d4d;
    color: #fdfdfd;
    padding: 50px;
    border-radius: 10px;
    
    
  }

  .project {
    background-color: #f1d4ed;
    color: #4e4c4c;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    margin-right: 70%;
  }
  .project-title {
    font-size: 24px;
    margin: 0 0 10px 0;
   
  }
  .project-description {
    font-size: 14px;
    margin: 0;
  }

  .project:hover{
    transform: scale(1.1,1.1);
    background-color: #7c62d2;
   color: #ffffff;
   
  }
  .fix {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0.2rem;
  }
  .about-me{
    color: #0f1010;
    margin-left: 2%;
    align-items: center;
  }


  
  
      
